{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SK Drive</title>
{% include 'web-css.html' %}
<style type="text/css">
	
</style>
</head> 
<body>
    <div class="box">
        <img class="img-responsive img_wid_100" src="{% static 'images/about.jpg' %}" alt="header image" >
        <div class="nav_top">
            {% include 'menu.html' %}
        </div>
        <div class="ind_register">
            <a href="#" class="btn btn-success btn_transp">Register Now</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8 text-justify">
              <p><h4>About Us</h4><br>Analyze Infotech is a rapidly growing IT software company specialising in software technologies of recent trends such as Java, .Net, Android, PHP, Web Designing, WordPress, Joomla, and Search Engine Optimization & Social Media Marketing. Analyze Infotech is a professionally operated foundation imparting full range of understanding in the software technology that is considered to be mandatory in the contemporary IT scenario.
              At Analyze Infotech we provide complete end-to-end solutions based on our expertise in the field of e-technology.
              We undertake projects involving technologies like J2EE, JSP, ASP.NET, PHP, CMS(Wordpress, Joomla, Magento, Drupal), Flash, Director, 3D-Max, XML and RDBMS, such as Oracle and SQL server. From helping companies integrate customer-centric strategies and emerging technologies into innovative e-business models, to developing multi-channel solutions that coordinate these new channels with the traditional customer touch points of telephone, catalogues, call centers and brick-and-mortar facilities, we help our clients redefine their business, differentiate themselves from their competitors, and reshape their industries.We offer best Java Training in lucknow. We have expert trainers with real time experience and having excellent teaching track.
              Our Java Training Course ensure that students learn the core and advanced topics required for a successful career in the field of Java Development.
              Our training course has helped many job seekers, corporate professionals and learners to improve their technical as well as soft skills in order to become a proficient professional.<br>
              <br><h4>Our Main Strategy Goals Are As Follows:-</h4><br>
              To grants high quality and cost adequate training.
              To cultivate and train learners in various fields of information technology desired by industry along with the general education.
              To provide a conductive learning atmosphere to cherish the growth of professional education
              To transform students into professionals.<br><br>
              <h4>What We Offer Our :</h4><br>
              100% job guarantee on Professional Courses.
              Top notch training by highly qualified and experienced experts.
              Real life live international project exposure
              Live experience of working with the industry team.
              Practical training modules .
              Flexible lab hours to suit your schedule.<br>
              <h4>Academy Of Learning Offers Students :</h4><br>
              Deliver an effective approach to career training.
              Provide industry standard equipment and software.
              Offer career specific programs.
              Maintain an environment conducive to learning.
              Schedule flexible class hours.
              Offer job search assistance and services .</p>
              
            </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      
  
      

{% include 'footer.html' %}

{% include 'web-js.html' %}
</body>
</html>                                                        