{% load static %}
<br><br><br><br>
<h1>Photos</h1>

<BR>
<hr>
<div class="row">
  {% for op in file_data %}
    {% if request.user.username == op.user_name %}
      {% if op.file_type == "image/jpeg" or op.file_type == "image/png" %}
        <div class="col-md-4">
          <center>
            <a href="">
            <div class="card card_dim">
              
                <img class="img-responsive img_wid_100" src="../media/{{op.uploaded_file}}" alt="img.jpg">
                <div class="card-body">
                  <p class="card-text overflow_hide">{{ op.file_name }}</p>
                </div>
            </div>
          </a>
          </center>
          <br><br><br><br>
        </div>
        {% endif %}
      {% endif %}
  {% endfor %}
  
</div>